<div class="modal-header">
    <h4 class="modal-title">Delete Book</h4>
    <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4><strong>Are you sure you want to delete this book?</strong></h4>
    <p><strong>Author:</strong> {{ book?.author }}</p>
    <p><strong>Title:</strong> {{ book?.title }}</p>
    <p><strong>Description:</strong> {{ book?.description }}</p>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(book!.id)">Delete</button>
  </div>